---
import type { GetStaticPaths } from "astro";
import BaseLayout from "../../layout/BaseLayout.astro";
import { getCollection } from "astro:content";
import { render } from "astro:content";

export const getStaticPaths = (async () => {
  const posts = await getCollection("posts");
  return posts.map((p) => ({
    params: { slug: p.data.slug },
    props: { post: p },
  }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;

const { Content } = await render(post);
---

<BaseLayout>
  <h1>{post.data.title}</h1>
  <img
    src={post.data.cover.src}
    alt={post.data.coverAlt}
    height={post.data.cover.height}
    width={post.data.cover.width}
  />
  <Content />
</BaseLayout>
